<?xml version="1.0"?>
<configuration>
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="tracytdb"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=trackyttestdb;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp>
        <network
          host="mail.trackyt.net"
          enableSsl="false"
          defaultCredentials="false"
          port="587"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
