<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trackyourtasks.Core.Properties.Settings.trackyourtasksdbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Development\Projects\trackyourtasks.net\src\trackyourtasks.net\App_Data\trackyourtasksdb.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>