<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trackyourtasks.Core.Properties.Settings.trackyConnectionString"
            connectionString="Data Source=SEEKEY-NOTE\SQLEXPRESS;Initial Catalog=tracky;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>