* 
{
    margin: 0;
}

html, body 
{
    /* 5e6c78 */ 
    background-color: #5a748a;
    background-image: url('Images/dashboard/back.png');
    font-family: Verdana, Georgia, Serif;
    font-size: 14px;
    color: #424242;
    
    margin: 0;
    padding: 0;
}

input 
{
    border: 0px solid;
    text-decoration: none;
}

input:focus 
{
    outline: none;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -130px; /* the bottom margin is the negative value of the footer's height */
}


footer, .push {
	height: 130px; /* .push must be the same height as .footer */
	
    position: relative;
    width: 100%;
    background-color: #192832;
    background-image: url('Images/public/footer-backround.png');
    background-position:center;
    background-repeat: no-repeat;
    margin-top: -30px;
    overflow: hidden;
    
    color: #eeeeee;
    font-size: 10px;    
}

/*
    TODO: code below is copy from public.css, should be fixed to avoid duplication
*/

#footer a
{
    text-decoration:none;    
    color: #eeeeee;
}

#navigation-footer
{
    position: relative;
    display: block;
    margin: 30px auto;
    width: 95%;
}

.navigation-footer-block
{
    font-size: 12px;    
}

.navigation-footer-block ul
{
    padding: 5px;
    margin-right: 16px;
    list-style: none outside none;
}

.navigation-footer-block li
{
    margin: 4px;
}

.navigation-footer-block .bold
{
    font-weight:bold;
}

.navigation-footer-block img
{
    position: relative;
    margin-top: 6px;
    border: 0px;
}


#top
{
    position: relative;
    height: auto;
    min-height: 75px;
    width: 100%;
    background-color: #252628;
    
    color: #1cbcff;
    font-family: Verdana, Arial, Serif;
    font-size: 12px;
}

#logo
{
    display: inline;
    float: left;
}

#navigation-container
{
    float: right;  
    margin-top: 10px;
    margin-right: 20px;  
}

#navigation-container a
{
    text-decoration: none;
    color: inherit;
}

#container
{
    position: relative;
    display: block;
    width: 885px;
    height: auto;
    min-height: 600px;
    margin:0 auto;
    margin-top: -40px;
    padding-top: 40px;
    background-color: #e7e6de;
        
     -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0px 30px;
     -moz-box-shadow: rgba(0,0,0,0.8) 0px 0px 30px;
     box-shadow: rgba(0,0,0,0.8) 0px 0px 30px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    
     z-index: 500;           
}

#new-task-control
{
    width: 760px;
    height: 120px;
    margin:0 auto;
    /* 3d4a59 */
    background-color: #425565;
    opacity: 0.6;
    
    border: 1px solid #2f3439;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
}

#add-task
{    
    background: #F2F2F2; /* old browsers */
    background: -moz-linear-gradient(top, #F2F2F2 33%, #BCBCBC 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#F2F2F2), color-stop(100%,#BCBCBC)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#BCBCBC',GradientType=0 ); /* ie */
}

#new-task-container
{
    display: block;
    position: relative;
    width: 600px;
    height: 35px;
    margin:0 auto;
    margin-top: 25px;
}

#new-task-container input
{
    height: 100%;
    margin-right: 5px;
}

#task-description
{
    width: 500px;
    border: 0px none;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;        
    
    -moz-box-shadow: inset 0 0 1x 1px #888;
    -webkit-box-shadow: inset 0 0 1px 1px#888;
    box-shadow: inset 0 0 1px 1px #888;

}

#operation-controls
{
    color: #1cbcff;
    width: 400px;
    height: 50px;
    margin:0 auto;
    margin-top: 20px;
}

/* Datepicker */

.datepicker
{
    position:absolute;
    left: -320px;
    opacity: 0.8;    
}

#ui-datepicker-div
{
    position: relative;
    z-index: 1000 !important;
}

/* Tasks */

#tasks
{
    width: 720px;
    height: auto;
    margin:0 auto;
    margin-bottom: 20px;
    padding: 20px;
}

.task  
{
    border:1px solid #AFAFAF; 
    font-family: Georgia;
    color: #0A4202;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;        

    background: #B4F7B4; /* old browsers */
    background: -moz-linear-gradient(top, #B4F7B4 0%, #48B555 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B4F7B4), color-stop(100%,#48B555)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B4F7B4', endColorstr='#48B555',GradientType=0 ); /* ie */

    margin-top: 5px;
    padding: 5px;
    
    width: 100%;
    height: 30px;
    
    z-index: -1000;
}

.task span
{
}

.task span a
{
    color: #0069EA;
    text-indent: -50000px;    
    text-decoration: none;
}

.disabled
{
    pointer-events: none;
}

.task .index
{
    top: -5px;
    left: 0px;
    font-size:x-small;
    font-weight: bold;
    float: left;
    width: 45px;
}

.task .moveontop 
{
    float: left;
    height: 32px;
    width: 32px;
    background-image: url('Images/dashboard/arrow-up.png');
    opacity: 0.4;    
}

.task .moveontop:hover 
{
    cursor: pointer;
    opacity: 0.6;
}

.task .description
{
    float: left;
    font-size: large;
    padding-left: 14px;
    margin-top: 4px;
}

.task .plantodate
{
    float: right;
    height: 32px;
    width: 32px;
    background-image: url('Images/dashboard/cal.png');
    opacity: 0.4;    
    
}

.task .plantodate:hover 
{
    cursor: pointer;
    opacity: 0.6;
    
}

.task .timer 
{
    float:right;
    padding-right: 40px;
    font-size: small;
    margin-top: 4px;    
    color: #7e7e7e;
}

.task .run 
{
    color: #424242 !important;    
}

.task .start a
{    
    float:right;    
    height: 32px;
    width: 32px;
    
    background-image: url('Images/dashboard/arrow-right.png');
    opacity: 0.4;    
}

.task .start a:hover 
{
    cursor: pointer;
    opacity: 0.6;
}

.task .stop a
{    
    float:right;    
    height: 32px;
    width: 32px;
    
    background-image: url('Images/dashboard/stop.png');
    opacity: 0.4;    
}

.task .stop a:hover 
{
    cursor: pointer;
    opacity: 0.6;
}

.task .delete a
{
    float:right;    
    height: 32px;
    width: 32px;
    
    background-image: url('Images/dashboard/delete.png');
    opacity: 0.4;
}

.task .delete a:hover 
{
    cursor: pointer;
    opacity: 0.6;
}



/*
.task .right 
{
    padding-left: 4px;
    float:right;
}
*/

#operation-controls input
{
    background: none;
    color: inherit;

    cursor: pointer;
    width: 70px;
    height: 40px;
}

input#task-description
{
    padding: 4px;
    font-size:x-large;
}

#account-details
{
    display: block;
    position: relative;
    background-color: #252628;
    color: #e7e6de;
}

#account-details fieldset
{
    width: 360px;
    float: right;
    border-style:none;
    font-size: small;    
}

#account-details fieldset label
{
    font-weight: bold;
    float: left;
}

#account-details fieldset span
{
    float: right;
}

.clear
{
    clear: both;
}

#description-edit
{
    width: 420px;
    padding: 4px;
    opacity: 0.6;
    
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}