*
{
    margin: 0;
}

html, body 
{
    background-image: url('Images/public/body-backround.jpg');
    font-family: Verdana, Georgia, Serif;
    color: #424242;
    height: 100%;
}

a
{
    color: #3e7143;
}

/* Master page */

#navigation-container
{
    display: block;
    position: relative;
    background-image: url('Images/public/header-backround.png');
    width: 100%;
    height: 50px;
    overflow: hidden;
    z-index: 5000;
}

#navigation 
{  
    width: 90%;
    margin: 0 auto;
}

#navigation a
{
    text-indent: -9999px;  
}

#navigation ul 
{
    margin: 0px;
    list-style: none outside none;
}

#navigation ul.left { float:left; }

#navigation ul.right { float:right; }

#navigation > ul li { float:left; height:50px; }

/* Navigation button images */

#navigation ul li.home
{
    background: transparent url('Images/public/home-button.jpg') no-repeat;
}

#navigation ul li.product-tour
{
    background: transparent url('Images/public/product-tour-button.jpg') no-repeat;
}

#navigation ul li.blog
{
    background: transparent url('Images/public/blog-button.jpg') no-repeat;
}

#navigation ul li.about-us
{
    background: transparent url('Images/public/about-us-button.jpg') no-repeat;
}

#navigation ul li.login
{
    background: transparent url('Images/public/login-button.jpg') no-repeat;
}

#navigation ul li.registration
{
    background: transparent url('Images/public/registration-button.jpg') no-repeat;
}

#navigation ul li.support
{
    background: transparent url('Images/public/support-button.jpg') no-repeat;
}

/* Navigation button size */

#navigation ul li.home a
{
    display:block;
    background: none;
    height: 50px;
    width: 79px;
}

#navigation ul li.product-tour a
{
    display:block;
    background: none;
    height: 50px;
    width: 148px;
}

#navigation ul li.blog a
{
    display:block;
    background: none;
    height: 50px;
    width: 68px;
}

#navigation ul li.about-us a
{
    display:block;
    background: none;
    height: 50px;
    width: 109px;
}


#navigation ul li.login a
{
    display:block;
    background: none;
    height: 50px;
    width: 79px;
}

#navigation ul li.registration a
{
    display:block;
    background: none;
    height: 50px;
    width: 138px;
}

#navigation ul li.support a
{
    display:block;
    background: none;
    height: 50px;
    width: 89px;
}

/* Main container */

#main-container
{
    position: relative;    
    
    width: 985px;
    background-color: #FFFFFF;
    padding: 20px 40px 20px 40px;

    margin: 0 auto;
    height: 100%;
    min-height: 100%;
    
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

     -webkit-box-shadow: rgba(10,10,10,0.2) 0px 0px 30px;
     -moz-box-shadow: rgba(10,10,10,0.2) 0px 0px 30px;
     box-shadow: rgba(10,10,10,0.2) 0px 0px 30px;
     
     z-index: 500;
}


/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -160px; /* the bottom margin is the negative value of the footer's height */
}

.push
{
    height: 130px;    
}

/* Footer */

#footer
{
    position: relative;
    width: auto;
    height: 160px;
    background-color: #192832;
    background-image: url('Images/public/footer-backround.png');
    background-position:center;
    background-repeat: no-repeat;
    margin-top: -30px;
    padding-top: 16px;
    overflow: hidden;
    
    color: #eeeeee;
    font-size: 10px;    
}

#footer a
{
    text-decoration:none;    
    color: #eeeeee;
}

.navigation-footer
{
    position: relative;
    display: block;
    float: left;
    margin: 20px 0px 5px 10px;
    font-size: 12px;    
}

.navigation-footer ul
{
    margin: 0px;
    list-style: none outside none;
}

.navigation-footer li
{
    margin: 4px;
}

.navigation-footer .register, .navigation-footer .home, .navigation-footer .api 
{
    font-weight:bold;
}

#copyright
{
    width: auto;
    margin: 10 auto;
    text-align: center;
    vertical-align: bottom;    
    padding: 2px;
}

#information
{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    vertical-align: bottom;    
    font-size: 9px;
    color: #999999; 
    padding: 3px;   
}

/* Blog */

#blogpost-container
{
    width: auto;
    height: auto;
}

.blogpost
{
    margin:0 0 60px;
    text-align: justify;
}

.blogpost .header
{
    padding-bottom: 20px;
}

.blogpost .header .title
{
    font-family: Georgia, Serif;
    font-size: 42px;
    font-weight: 400;
    color:#277622;    
}

.blogpost .header .title a, .blogpost .header .title a:visited 
{
    /* 428848 */
    color:#3e7143;        
    text-decoration:none;
}

.blogpost .header .posted-on
{
    margin-top: 5px;
    margin-left: 10px;
    color: #797878;
    
    font-size:10px;
}

.pager
{
    display: block;
    height: 40px;
    width: auto;
    margin: 0 auto;
    text-align:center;
}

.pager span
{
    margin-right: 5px;
    margin-left: 5px;
}

.pager .disabled
{
    display: inline;
}

.pager .current {
    font-weight:bold;
}

.clear
{
    clear: both;
}