html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */

body
{
    font-family: "helvetica neue" , helvetica, arial, sans-serif;
    color: #333333;
}

h1
{
	font-size: 2.6em;
}

p
{
	margin: 40px 10px 20px 10px; 
	font-size: 0.8em;
	color: #465d46;
}

a
{
	font-weight: bold;
	color: #e88510;
}

#container
{
	width: 960px;
	margin: 0 auto;
}

#main
{
	display: block;
	position: relative;
	margin-top: 80px;
	text-align: center;
	padding: 14px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A7A7A7;
    clear: both;
    height: auto;

	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;        
}

#tasks
{
	width: 90%;
	margin: 0 auto;
	position: relative;
	margin-top: 40px;
}

.task
{
    border:1px solid #AFAFAF; 
    color: #0A4202;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;        

    background: #d4d5d4; /* old browsers */
    background: -moz-linear-gradient(top, #d4d5d4 0%, #8d958d 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d5d4), color-stop(100%,#8d958d)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d5d4', endColorstr='#8d958d',GradientType=0 ); /* ie */

    margin-top: 4px;
    padding: 1px;
    
    width: 100%;
    height: 33px;

    z-index: -1000;
}

.task .description
{
    position: relative;
    left: 8px;
    top: 7px;
    
    height: auto;
    width: 485px;
    
    float: left;
    font-size: 16px;
    text-align:left;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.task .planned
{
    position: relative;
    top: 7px;
    right: 22px;
    
    height: 16px;
    width: 86px;
    
    float:right;
    font-size: small;
    text-align: right;
}
