@{
    ViewBag.Title = "Admin | User Management";
    Layout = "~/Areas/Admin/Views/Shared/_UserManagementLayout.cshtml";
}
@model IList<Trackyt.Core.DAL.DataModel.User>
<div id="table-container">
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Email
            </th>
            <th>
                Temp
            </th>
        </tr>
        @foreach (var user in Model)
               { 
            <tr>
                <td>
                    @user.Id
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.Temp
                </td>
            </tr>
            }
    </table>
</div>
