@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@Html.Partial("ApiImplementations")
@Html.Partial("ApiTableOfContent")

@RenderBody()

@*<asp:Content ID="maincontent" ContentPlaceHolderID="maincontent" runat="server">
    <% Html.RenderPartial("ApiImplementations"); %>
    <% Html.RenderPartial("ApiTableOfContent"); %>

    <asp:ContentPlaceHolder ID="apicontent" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="head" ContentPlaceHolderID="head" runat="server">
    <title>Trackyt.net | API</title>
</asp:Content>
*@