body 
{
    background-image: url('Images/public/body-backround.jpg');
    margin: 0px;
    padding: 0px;
}

#navigation-container
{
    background-image: url('Images/public/header-backround.png');
    background-repeat: repeat-x;
    width: auto;
    height: 50px;
    overflow: hidden;
}

#navigation 
{  
      position:relative;
      width:1235px;
      height:50px;
      margin:0 auto;
}

#navigation ul 
{
    margin: 0px;
    list-style: none outside none;
}

#navigation ul.left { float:left; }

#navigation ul.right { float:right; }

#navigation > ul li { float:left; height:50px; }

/* Navigation button images */

#navigation ul li.home
{
    background: transparent url('Images/public/home-button.jpg') no-repeat;
}

#navigation ul li.product-tour
{
    background: transparent url('Images/public/product-tour-button.jpg') no-repeat;
}

#navigation ul li.blog
{
    background: transparent url('Images/public/blog-button.jpg') no-repeat;
}

#navigation ul li.about-us
{
    background: transparent url('Images/public/about-us-button.jpg') no-repeat;
}

#navigation ul li.login
{
    background: transparent url('Images/public/login-button.jpg') no-repeat;
}

#navigation ul li.registration
{
    background: transparent url('Images/public/registration-button.jpg') no-repeat;
}

#navigation ul li.support
{
    background: transparent url('Images/public/support-button.jpg') no-repeat;
}

/* Navigation button size */

#navigation ul li.home a
{
    display:block;
    background: none;
    height: 50px;
    width: 79px;
}

#navigation ul li.product-tour a
{
    display:block;
    background: none;
    height: 50px;
    width: 148px;
}

#navigation ul li.blog a
{
    display:block;
    background: none;
    height: 50px;
    width: 68px;
}

#navigation ul li.about-us a
{
    display:block;
    background: none;
    height: 50px;
    width: 109px;
}


#navigation ul li.login a
{
    display:block;
    background: none;
    height: 50px;
    width: 79px;
}

#navigation ul li.registration a
{
    display:block;
    background: none;
    height: 50px;
    width: 138px;
}

#navigation ul li.support a
{
    display:block;
    background: none;
    height: 50px;
    width: 89px;
}

/* Main container */

#main-container
{
    position: relative;
    width: 985px;
    height: auto;
    margin:0 auto;
    min-height: 300px;
    background-color: #F2F2F2;
    
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

     -webkit-box-shadow: rgba(10,10,10,0.2) 0px 0px 30px;
     -moz-box-shadow: rgba(10,10,10,0.2) 0px 0px 30px;
     box-shadow: rgba(10,10,10,0.2) 0px 0px 30px;
     
     z-index: 5;     
}

#footer
{
    position: relative;
    width: auto;
    height: 180px;
    background-color: #192832;
    background-image: url('Images/public/footer-backround.png');
    background-position:center;
    background-repeat: no-repeat;
    margin-top: -30px;
    z-index: -5;
}