@{
    ViewBag.Title = "Admin | Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_BlogManagementLayout.cshtml";
}
<span>Existing blog post has been <span class="green">successfully</span> deleted.
</span>
<div>
    @Html.ActionLink("Back to posts", "allposts")
</div>
