@{
    ViewBag.Title = "Admin | Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_BlogManagementLayout.cshtml";
}
<div id="summary-container">
    <span class="green">New post has been successfully posted!</span>
</div>
