@{
    Layout = null;
}
@using Web.Helpers.Extensions

<!DOCTYPE html>

<html>
<head>
    <title>Trackyt.net | Registration</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/ico" />

    <link href="@(Url.ContentWithVersion("~/Content/public-login.css"))" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="content">
        <p>
            Congratulations! You've been successfully registered. Confirmation has been sent to your email address.
        </p>    
        <p>
            You can now go back to application and sign in.
        </p>
    </div>
</body>
</html>
