@{
    ViewBag.Title = "Trackyt.net | Sign Up";
}
@using Web.Helpers.Extensions
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.ContentWithVersion("~/Content/public-login.css")" rel="stylesheet" type="text/css" />
    <title>Trackyt.net | Ooops</title>
</head>
<body>
    <div id="container">
        <div id="content">
            <h1>Opps! Sorry but something bad has just happened..</h1>
            <p>Please don't worry and try to repeat you operation. Support team is notified a problem and on it's way to fix it.</p>
        </div>
    </div>
</body>
</html>
