<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trackyt.Core.Properties.Settings.trackyourtasksdbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Development\Projects\Trackyt.net\src\Trackyt.Core\DAL\DB\trackyourtasksdb.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Trackyt.Core.Properties.Settings.trackyConnectionString"
            connectionString="Data Source=SEEKEY-NOTE\SQLEXPRESS;Initial Catalog=tracky;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Trackyt.Core.Properties.Settings.trackytdbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=trackytdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Trackyt.Core.Properties.Settings.trackytdb_patchv102ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=trackytdb_patchv102;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Trackyt.Core.Properties.Settings.trackytdbConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=trackytdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Trackyt.Core.Properties.Settings.trackytdbstageConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=trackytdbstage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>